TRADING_MODE=paper
MRNASDOG_URL=https://mrnasdog.com/
COINGECKO_API_KEY=
REQUEST_TIMEOUT=15
MAX_DATA_AGE_SECONDS=120
ACCOUNT_EQUITY_USD=10000
RISK_PER_TRADE_PCT=0.5
MAX_POSITION_PCT=10
MIN_SIGNAL_SCORE=65
DRY_RUN=true
